DATABASE_URL=postgresql://postgres.PROJECT_REF:PASSWORD@aws-X-ap-REGION.pooler.supabase.com:5432/postgres
PORT=3001
FRONTEND_URL=http://localhost:5173
JWT_SECRET=isi_dengan_secret_key_bebas
ADMIN_EMAIL=admin@emailkamu.com
ADMIN_PASSWORD=PasswordAdmin123!
SUPABASE_URL=https://PROJECT_REF.supabase.co
SUPABASE_SERVICE_KEY=eyJ...service_role_key_dari_supabase